.Kvit-Outer
  .Kvit
    .Kvit-Side
      p.Kvit-EkzText
    .Kvit-Table.KvitTable
      .Kvit-Header
        p.Kvit-Vuz ФГБОУ ВО Вятская ГСХА
        p.Kvit-Title КВИТАНЦИЯ НА ОПЛАТУ от&nbsp;
          span.Kvit-Date
          | &nbsp;г.
      .KvitTable-Row
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-FirstCol
          p №
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-SecondCol
          p Показатели
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-ThirdCol
          p Значения
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 1
        .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_2Col
          p.KvitTable-Rekvizit
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 2
        .KvitTable-Col.KvitTable-SecondCol
          p Плательщик (заказчик по договору)
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Payer
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 3
        .KvitTable-Col.KvitTable-SecondCol
          p ФИО получателя услуг (обучающегося и др.), за которого вносится плата
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Fiostud
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 4
        .KvitTable-Col.KvitTable-SecondCol
          p Номер договора
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Contract
      .KvitTable-QrRow
        .KvitTable-Qr
          .KvitTable-Qr_Fake
        .KvitTable-SecondHalf
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 5
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p За что вносится плата (услуга)
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Purpose
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 6
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Факультет, общежитие, другой отдел
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Classnum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 7
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Сумма платежа, рублей
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Sum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 8
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Период, за который вносится плата
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-PaymPeriod
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 9
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Другие признаки платежа
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Other 0
          .Kvit-After
            p Счет выписал
            p М.П.
            p Счет получил

  .Kvit
    .Kvit-Side
      p.Kvit-EkzText
    .Kvit-Table.KvitTable
      .Kvit-Header
        p.Kvit-Vuz ФГБОУ ВО Вятская ГСХА
        p.Kvit-Title КВИТАНЦИЯ НА ОПЛАТУ от&nbsp;
          span.Kvit-Date
          | &nbsp;г.
      .KvitTable-Row
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-FirstCol
          p №
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-SecondCol
          p Показатели
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-ThirdCol
          p Значения
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 1
        .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_2Col
          p.KvitTable-Rekvizit
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 2
        .KvitTable-Col.KvitTable-SecondCol
          p Плательщик (заказчик по договору)
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Payer
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 3
        .KvitTable-Col.KvitTable-SecondCol
          p ФИО получателя услуг (обучающегося и др.), за которого вносится плата
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Fiostud
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 4
        .KvitTable-Col.KvitTable-SecondCol
          p Номер договора
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Contract
      .KvitTable-QrRow
        .KvitTable-Qr
          .KvitTable-Qr_Fake
        .KvitTable-SecondHalf
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 5
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p За что вносится плата (услуга)
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Purpose
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 6
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Факультет, общежитие, другой отдел
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Classnum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 7
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Сумма платежа, рублей
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Sum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 8
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Период, за который вносится плата
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-PaymPeriod
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 9
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Другие признаки платежа
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Other 0
          .Kvit-After
            p Счет выписал
            p М.П.
            p Счет получил

  .Kvit
    .Kvit-Side
      p.Kvit-EkzText
    .Kvit-Table.KvitTable
      .Kvit-Header
        p.Kvit-Vuz ФГБОУ ВО Вятская ГСХА
        p.Kvit-Title КВИТАНЦИЯ НА ОПЛАТУ от&nbsp;
          span.Kvit-Date
          | &nbsp;г.
      .KvitTable-Row
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-FirstCol
          p №
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-SecondCol
          p Показатели
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-ThirdCol
          p Значения
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 1
        .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_2Col
          p.KvitTable-Rekvizit
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 2
        .KvitTable-Col.KvitTable-SecondCol
          p Плательщик (заказчик по договору)
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Payer
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 3
        .KvitTable-Col.KvitTable-SecondCol
          p ФИО получателя услуг (обучающегося и др.), за которого вносится плата
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Fiostud
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 4
        .KvitTable-Col.KvitTable-SecondCol
          p Номер договора
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Contract
      .KvitTable-QrRow
        .KvitTable-Qr
          .KvitTable-Qr_Fake
        .KvitTable-SecondHalf
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 5
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p За что вносится плата (услуга)
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Purpose
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 6
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Факультет, общежитие, другой отдел
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Classnum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 7
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Сумма платежа, рублей
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Sum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 8
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Период, за который вносится плата
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-PaymPeriod
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 9
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Другие признаки платежа
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Other 0
          .Kvit-After
            p Счет выписал
            p М.П.
            p Счет получил

  .Kvit
    .Kvit-Side
      p.Kvit-EkzText
    .Kvit-Table.KvitTable
      .Kvit-Header
        p.Kvit-Vuz ФГБОУ ВО Вятская ГСХА
        p.Kvit-Title КВИТАНЦИЯ НА ОПЛАТУ от&nbsp;
          span.Kvit-Date
          | &nbsp;г.
      .KvitTable-Row
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-FirstCol
          p №
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-SecondCol
          p Показатели
        .KvitTable-Col.KvitTable-Col_Title.KvitTable-ThirdCol
          p Значения
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 1
        .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_2Col
          p.KvitTable-Rekvizit
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 2
        .KvitTable-Col.KvitTable-SecondCol
          p Плательщик (заказчик по договору)
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Payer
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 3
        .KvitTable-Col.KvitTable-SecondCol
          p ФИО получателя услуг (обучающегося и др.), за которого вносится плата
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Fiostud
      .KvitTable-Row
        .KvitTable-Col.KvitTable-FirstCol
          p 4
        .KvitTable-Col.KvitTable-SecondCol
          p Номер договора
        .KvitTable-Col.KvitTable-ThirdCol
          p.KvitTable-Contract
      .KvitTable-QrRow
        .KvitTable-Qr
          .KvitTable-Qr_Fake
        .KvitTable-SecondHalf
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 5
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p За что вносится плата (услуга)
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Purpose
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 6
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Факультет, общежитие, другой отдел
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Classnum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 7
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Сумма платежа, рублей
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Sum
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 8
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Период, за который вносится плата
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-PaymPeriod
          .KvitTable-Row
            .KvitTable-Col.KvitTable-FirstCol.KvitTable-FirstCol_Qr
              p 9
            .KvitTable-Col.KvitTable-SecondCol.KvitTable-SecondCol_Qr
              p Другие признаки платежа
            .KvitTable-Col.KvitTable-ThirdCol.KvitTable-ThirdCol_Qr
              p.KvitTable-Other 0
          .Kvit-After
            p Счет выписал
            p М.П.
            p Счет получил