.Modal-Outer
  .Modal
    .Modal-Header
      button.Modal-Button.Modal-Button_Print Печать
      button.Modal-Button.Modal-Button_Close
        img(src="../../images/close.png")
    .Modal-Text
      include kvit.pug